* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

#navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

/*.main__btn:hover {
  background: #4837ff;
  transition: all 0.3s ease;
}*/

.navbar__links:hover {
  color: #f77062;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
  }

  .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 0; 
      transition: all 0.5s ease;
      height: 50vh;
      z-index: -1;
  }

  .navbar__menu.active {
      background: #131313;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 50vh;
      font-size: 1.6rem;
  }

  #navbar__logo {
      padding-left: 25px;
  }

  .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 4px 0;
      transition: all 0.3s ease-in-out;
      background: #fff;
  }

  .navbar__item {
      width: 100%;
  }

  .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
  }

  #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
      display: block;
      cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
  }
  
  #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(7px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-7px) rotate(-45deg);
  }

}

/* Hero Section CSS */
.hero-container {
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  background-color: #222222;
  z-index: 1;
  width: 100%;
  /*max-width: 1300px;*/
  padding: 0 50px; 
}

.hero-content h1 {
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  moz-text-fill-color: transparent;
}

.hero-content h2 {
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  moz-text-fill-color: transparent;

}

.hero-content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.hero-btn {
  font-size: 1rem;
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.hero-btn a {
  position: relative;
  z-index: 2;
  color:#fff;
  text-decoration: none;
}

.hero-btn:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #4837ff;
  transition: all 0.35s;
  border-radius: 4px;
}

.hero-btn:hover {
  color: #fff;
}

.hero-btn:hover:after {
  width: 100%;
}

/* About Section CSS */
.about {
  background-color: #cacaca;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  /* height: 90vh; */
  background-color: #cacaca;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px; 
}

.about-img img {
  max-width: 90%;
  height: auto;
}

.about-content h2 {
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  moz-text-fill-color: transparent;
}

.about-content p {
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #2b2b2b;
}

/* Gallery Section CSS */
.gallery {
  background-color: #222222;
  min-height: 100vh;
  position: relative;
}

.gallery__container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 600px;
  background: #f5f5f5;
  box-shadow: 0 30px 50px #dbdbdb;
}

.gallery__container .gallery__slide .item {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
}

.gallery__slide .item:nth-child(0),
.gallery__slide .item:nth-child(1) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.gallery__slide .item:nth-child(2) {
  left: 50%;
}

.gallery__slide .item:nth-child(3) {
  left: calc(50% + 220px);
}

.gallery__slide .item:nth-child(4) {
  left: calc(50% + 440px);
}

.gallery__slide .item:nth-child(n + 5) {
  left: calc(50% + 660px);
  opacity: 0;
}


.item .content {
  position: absolute;
  top: 80%;
  left: 100px;
  width: 300px;
  text-align: left;
  color: black;
  transform: translate(0, -50%);
  font-family: system-ui;
  display: none;
}

.gallery__slide .item:nth-child(1) .content {
  display: block;
}

.content .name {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content .des {
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.content button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
  opacity: 0;
}

@keyframes animate {
  from {
      opacity: 0;
      transform: translate(0, 100px);
      filter: blur(33px);
  }

  to {
      opacity: 1;
      transform: translate(0);
      filter: blur(0);
  }
}


.button {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.button button {
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* modal and button styles*/
.info-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #5A9;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: black;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

#modal-body {
  font-family: system-ui;
}

/* availabity text styles*/
.availability {
  position: relative;
  bottom: 70px; 
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  /* need to fix so that it stays in place when the screen size is changed*/
}

/* Blog Section CSS */

#blog {
  background-color: #bebebe;
  min-height: 50vh;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.blog-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.latest-post, .popular-posts {
  width: 48%;
  background-color: #eaeaea;
  padding: 20px;
  border-radius: 8px;
}

.latest-post h2, .popular-posts h2 {
  margin-top: 0;
}

#post-content {
  margin-top: 20px;
}

#popular-posts-list {
  list-style: none;
  padding: 0;
}

#popular-posts-list li {
  margin-bottom: 10px;
}

#popular-posts-list li a {
  text-decoration: none;
  color: #0073e6;
  cursor: pointer;
}

/* Contact Section CSS */
.formSection h1 {
  font-size: 3rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  moz-text-fill-color: transparent; 
  text-align: center;
}

.formSection {
  background-color: #2b2b2b;
}

.formContainer {
  background-color: #2b2b2b;
}

#contactFormContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2b2b2b;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.contact-form, .art-list {
  flex: 1;
  padding: 20px;
  background-color: #dbdbdb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form input, .contact-form textarea, .contact-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.contact-form button {
  background-color: #ff8177;
  color: #fff;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #4837ff;
}

.art-list h2 {
  margin-top: 0;
}

.art-list p {
  font-size: 1.2em;
  color: #000000;
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s;
}

.error-message {
  color: red;
  font-size: 14px;
}

/* Modal container */
#myModal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal content */
#myModalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: black;
  font-size: 1.3rem;
}

/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



/* Footer Section CSS */